@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao projeto fragmentado da disciplina Projeto Integrador</h1>
    <p>Exemplo com Razor Pages.</p>
</div>
